.footer{
	min-width: 1200px;
	height: 100px;
	margin-top: 50px;
	background-color: #F1F1F1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer .content{
	text-align: center;
	line-height: 50px;
}

.footer h5{
	color: #999999;
}

.footer a{
	color: #999999;
}