*{
	margin: 0;
	padding: 0;
}
li,a{
	cursor: pointer;
}
.video{
	width: 100%;
	min-width: 1260px;
	height: 450px;
	background-image: url(../img/bg.jpg);
}
.video .content{
	width: 1260px;
	height: 100%;
	margin: 0 auto;
}
.video .content .left{
	width: 500px;
	height: 100%;
	float: left;
}
.video .content .left #img1{
	display: block;
	float: left;
}
.video .content .left .top{
	width: 100%;
	height: 60px;
}
.video .content .left h2{
	line-height: 70px;
	display: block;
	width: 400px;
	float: left;
}
.video .content .left ul{
	display: inline-block;
	list-style: none;
}
.video .content .left ul li{
	float: left;
	display: inline-block;
	width: 250px;
	height: 180px;
}
.video .content .left ul li img{
	width: 200px;
	height: 140px;
}
.video .content .left ul li p{
	width: 200px;
}
.video .content .right{
	width: 740px;
	height: 100%;
	float: right;
}
.video .content .right video{
	width: 740px;
	height: 100%;
}
