*{
	margin: 0;
	padding: 0;
	/* background-color: rgb(238,238,238); */
}
.three{
	width: 1358px;
	min-width: 1200px;
	height: 335px;
	margin: 20px auto;
	/* 需要注释 */
	/* background-color: tan; */
}
.three .three_1{
	width: 820px;
	height: 100%;
	float: left;
	/* 需要注释 */
	/* background-color: #D8BFD8; */
}
.three .three_1 .three_1_1{
	width: 100%;
	height: 35px;
	/* 需要注释 */
	/* background-color: aqua; */
}
.three .three_1 .three_1_1 h2{
	float: left;
}
.three .three_1 .three_1_1 ul li {
	float: left;
	list-style: none;
	margin: 3px 15px;
	/* font-size: 16px; */
}
.three .three_1 .three_1_1 ul li a{
	color: rgb(174,174,174);
}
.three .three_1 .three_1_1 ul li a:hover{
	size: 17px;
	color: rgb(29,166,189);
}
.three .three_1 .three_1_1 a{
	float: right;
	margin: 3px 15px;
	color: rgb(102, 171, 174);
}

.three .three_1 .three_1_2{
	width: 100%;
	height: 300px;
	/* 需要注释 */
	/* background-color: #D2B48C; */
}
.three .three_1 .three_1_2 .three_1_2_1{
	width: 192px;
	height: 260px;
	margin: 10px 0 0 17px;
	float: left;
	background-color: rgb(238,238,238);
}
.three .three_1 .three_1_2 .three_1_2_1 p2{
	color: rgb(30,166,186);
	/* margin-top: 10px; */
	font-size: 10px;
} 
.three .three_1 .three_1_2 .three_1_2_1:first-child{
	margin-left: 0;
}

.three .three_2{
	width: 496px;
	height: 100%;
	float: right;
	/* background-color: #D8BFD8; */
}
.three .three_2 .three_2_1{
	width: 366px;
	height: 168px;
	float: left;
	text-align: center;
	background: -webkit-linear-gradient(rgb(5,197,209),rgb(7,170,213));
	
}
.three .three_2 .three_2_1:hover{
	background: -webkit-linear-gradient(rgb(5, 219, 230),rgb(6, 178, 221));
}
.three .three_2 .three_2_1 p{
	font-size: 30px;
	color: #FFFFFF;
	margin: 69px auto;
	
}
.three .three_2 .three_2_2{
	width: 118px;
	height: 168px;
	float: right;
	/* 需要注释 */
	/* background-color: #00FFFF; */
	/* text-align: center; */
}
.three .three_2 .three_2_2 .three_2_2_1{
	width: 100%;
	height: 76px;
	text-align: center;
	float: right;
	background: -webkit-linear-gradient(rgb(5,197,209),rgb(7,170,213));
}
.three .three_2 .three_2_2 .three_2_2_2{
	width: 100%;
	height: 76px;
	margin-top: 16px;
	text-align: center;
	float: right;
	background: -webkit-linear-gradient(rgb(5,197,209),rgb(7,170,213));
}
.three .three_2 .three_2_2 .three_2_2_1:hover,.three .three_2 .three_2_2 .three_2_2_2:hover{
	background: -webkit-linear-gradient(rgb(5, 219, 230),rgb(6, 178, 221));
}
.three .three_2 .three_2_2 .three_2_2_1 p,.three .three_2 .three_2_2 .three_2_2_2 p{
	/* font-size: 30px; */
	/* position: relative; */
	color: #FFFFFF;
	margin-top: 20px;
}

.three .three_2 .three_2_3{
	width: 100%;
	height: 151px;
	/* margin-top: 16px; */
	float: left;
	/* background-color: black; */
}
.three .three_2 .three_2_3 .three_2_3_1{
	width: 110px;
	height: 61px;
	margin: 5px 0px 5px 18.6px;
	float: left;
	text-align: center;
	/* background: -webkit-linear-gradient(rgb(5,197,209),rgb(7,170,213)); */
	background-color: rgb(238,238,238);
}
.three .three_2 .three_2_3 .three_2_3_1:nth-child(1){
	margin-left: 0;
}
.three .three_2 .three_2_3 .three_2_3_1:nth-child(5){
	margin-left: 0;
}

.three .three_2 .three_2_3 .three_2_3_1 p{
	color: black;
	font-size: 16px;
	margin-top: 20px;
}
.three .three_2 .three_2_3 .three_2_3_1 p:hover{
	color: rgb(5,197,209);
}