.advice{
	width:100%;
	height: 230px;
	position: relative;
	float: left;
	/* 需要注释 */
	background-color: red;
}
.advice .advice_con{
	width: 100%;
	height: 196px;
	position: absolute;
	/* 需要注释 */
	background-color: #12E0EF;
}