.main_clearfix{
	width: 1200px;
	height: 1799px;
	position: relative;
	top: -410px;
	margin-left: auto;
	margin-right: auto;
	/* 需要注释 */
	background-color: tan;
}
.main_clearfix .login_com .login{
	width: 122px;
	height: 108px;
	right: 50px;
	top: -140px;
	background-color:tan;
	background-color: transparent;
	position: absolute;
	background-image: url(../img/QQ图片20200416201513.png);
	
}
.main_clearfix .login_com .login p{
	width: 100px;
	height: 20px;
	margin: 41px auto;
	font-size: 14px;
	color: #9DAEBC;
}

.main_clearfix .sidebar{
	width: 410px;
	height: 1796px;
	/* 颜色 */
	background-color: #58D68D;
}
.main_clearfix .sidebar .sidebar_con{
	width: 410px;
	height: 383px;
	position: relative;
	background-image:url(../img/QQ图片20200416215134.png);
}
.main_clearfix .sidebar .sidebar_con .side_down{
	width: 410px;
	height: 178px;
	background-color: #36A9E0;
}
.main_clearfix .sidebar .sidebar_con .side_down .side_down_icon{
	width: 45px;
	height: 50px;
	float: left;
	position: relative;
	top: 30px;
	left: 170px;
	z-index: 99;
	background-color: #36A9E0;
	background-image: url(../img/QQ图片20200416220546.png);
}
.main_clearfix .sidebar .sidebar_con .side_down .side_down_ms{
	width: 140px;
	height: 36px;
	font-size: 30px;
	color: #DCF2F9;
	position: absolute;
	top: 100px;
	left:130px;
}
.main_clearfix .sidebar .sidebar_con .side_down .sd_ribbon .current{
	width: 410px;
	height: 24px;
	position: absolute;
	right: 5px;
	top: 75px;
	background-image: url(../img/pic_002.png);
}
.main_clearfix .sidebar .sidebar_con .side_active{
	width: 410px;
	height: 106px;
}
.main_clearfix .sidebar .sidebar_con .side_active b{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 215px;
	left: 120px;
	background-image: url(../img/QQ图片20200416225338.png);
}
.main_clearfix .sidebar .sidebar_con .side_active .sa_text{
	width: 96px;
	height: 20px;
	font-size: 24px;
	color: #EDF5F9;
	position: absolute;
	top: 215px;
	left: 190px;
}
.main_clearfix .sidebar .sidebar_con .side_guide{
	width: 205px;
	height: 100px;
}
.main_clearfix .sidebar .sidebar_con .side_guide b{
	width: 25px;
	height: 24px;
	position: absolute;
	top: 330px;
	background-image: url(../img/QQ图片20200416230919.png);
}
.main_clearfix .sidebar .sidebar_con .side_guide .sg_text{
	width: 72px;
	height: 20px;
	font-size: 18px;
	color: #12E0EF;
	position: absolute;
	top: 330px;
	left: 80px;
}
.main_clearfix .sidebar .sidebar_con .side_report{
	width: 205px;
	height: 100px;
}
.main_clearfix .sidebar .sidebar_con .side_report b{
	width: 31px;
	height: 30px;
	position: absolute;
	top: 330px;
	left: 250px;
	background-image: url(../img/QQ图片20200416234600.png);
	
}
.main_clearfix .sidebar .sidebar_con .side_report .sr_text{
	width: 72px;
	height: 20px;
	font-size: 18px;
	color: #12E0EF;
	position: absolute;
	top: 330px;
	left: 300px;
}

/* 修饰 */
.main_clearfix .sidebar .sidebar_con .side_down_b{
	width: 410px;
	height: 170px;
}
.main_clearfix .sidebar .sidebar_con .side_down_b .sd_up{
	width: 410px;
	height: 89px;
	
}
.main_clearfix .sidebar .sidebar_con .side_down_b .sd_down{
	width: 410px;
	height: 103px;
}
.main_clearfix .sidebar .sidebar_con .side_active_b{
	width: 410px;
	height: 100px;
}
.main_clearfix .sidebar .sidebar_con .side_active_b i{
	width: 410px;
	height: 100px;
}
.main_clearfix .sidebar .sidebar_con .side_active_b b{
	width: 396px;
	height: 80px;
}
.main_clearfix .sidebar .sidebar_con .side_pieces{
	width: 410px;
	height: 90px;
}
.main_clearfix .sidebar .sidebar_con .side_pieces i{
	width: 410px;
	height: 90px;
}
.main_clearfix .sidebar .sidebar_con .sc_box{
	width: 410px;
	height: 383px;
}
.main_clearfix .sidebar .sidebar_con .sc_screws{
	width: 410px;
	height: 383px;
}
.main_clearfix .sidebar .tools{
	width: 390px;
	height: 417px;
	float: left;
	background-color: tan;
	
}
.main_clearfix .sidebar .tools .m_title{
	width: 130px;
	height: 46px;
	margin: 38px 0px 0px;
	background-image: url(../img/十字.png);
	color: #666666;
	font-size: 18px;
}
.main_clearfix .sidebar .tools .gj_search{
	width: 196px;
	height: 24px;
	margin: -45px 170px 0px;
	/* background-color: red; */
}
.main_clearfix .sidebar .tools .gj_search .gj_do{
	width: 60px;
	height: 24px;
	background: url(../img/搜索.png) repeat fixed center;
}
.main_clearfix .sidebar .tools .clearfix{
	
}