*{
	margin: 0;
	padding: 0;
}
li,a{
	cursor: pointer;
}
.data{
	width: 100%;
	min-width: 1260px;
	height: 400px;
	background-image: url(../img/bg.jpg);
}
.data .content{
	position: relative;
	width: 1260px;
	height: 100%;
	margin: 0 auto;
}
.data .content #left{
	position: absolute;
	top: 50px;
	width: 630px;
	height: 350px;
	float: left;
}
.data .content #right{
	width: 630px;
	height: 100%;
	float: right;
}
.data .content .top{
	width: 630px;
	height: 50px;
	float: left;
}
.data .content .top img{
	float: left;
}
.data .content .top h2{
	line-height: 75px;
	float: left;
}
.last{
	width: 100%;
	height: 30px;
	background-color: rgba(0,0,0,0.1);
	text-align: center;
}
#fly{
	height: 100px;
	width: 100px;
	display: none;
}